<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
    <script data-goatcounter="https://peer2peer.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <noscript><img src="https://peer2peer.goatcounter.com/count?p=/test-img"></noscript>
</body>

</html>
